@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>
<p><img src="~/images/logo.png" /></p>
<p>Created by <a href="https://www.thomasclaudiushuber.com" target="_blank">Thomas Claudius Huber</a></p>
